In [1]:
import pandas
import dash
import numpy as np
import matplotlib.pyplot as plt
import pandas.io.date_converters as conv
from datetime import datetime, date, time

In [2]:
eeg= pandas.read_csv(r'MTS_hackdata_2017-09-26_20_54_53_anonymous.csv', )
eeg_res = eeg.copy
eeg.head()

,Unnamed: 0,AF3,F7,F3,FC5,T7,P7,O1,O2,P8,T8,FC6,F4,F8,AF4,time
0,0,-191,482,239,561,409,-121,902,683,33,-297,551,894,629,-430,2017-09-26 20:54:53.208922
1,1,-206,537,237,584,440,-5,1016,817,128,-229,316,724,676,-431,2017-09-26 20:54:53.223502
2,2,-191,534,223,598,442,-59,966,714,3,-245,309,712,658,-467,2017-09-26 20:54:53.233585
3,3,-88,608,326,669,559,69,1066,853,155,-169,446,799,764,-352,2017-09-26 20:54:53.243709
4,4,-80,613,340,685,550,54,1073,884,185,-164,456,796,782,-317,2017-09-26 20:54:53.250965

In [3]:
eeg['date']=eeg['time'].str.partition(' ')[0]
eeg['t']=eeg['time'].str.partition(' ')[2]
eeg.head()

,Unnamed: 0,AF3,F7,F3,FC5,T7,P7,O1,O2,P8,T8,FC6,F4,F8,AF4,time,date,t
0,0,-191,482,239,561,409,-121,902,683,33,-297,551,894,629,-430,2017-09-26 20:54:53.208922,2017-09-26,20:54:53.208922
1,1,-206,537,237,584,440,-5,1016,817,128,-229,316,724,676,-431,2017-09-26 20:54:53.223502,2017-09-26,20:54:53.223502
2,2,-191,534,223,598,442,-59,966,714,3,-245,309,712,658,-467,2017-09-26 20:54:53.233585,2017-09-26,20:54:53.233585
3,3,-88,608,326,669,559,69,1066,853,155,-169,446,799,764,-352,2017-09-26 20:54:53.243709,2017-09-26,20:54:53.243709
4,4,-80,613,340,685,550,54,1073,884,185,-164,456,796,782,-317,2017-09-26 20:54:53.250965,2017-09-26,20:54:53.250965

In [4]:
timing = pandas.read_csv(r'MTS_hackdata_timing.csv', parse_dates=True)
timing.head()

     id       name                 time
0  1490   N065.bmp  2017-09-26 20:53:44
1  1491      black  2017-09-26 20:53:49
2  1492  Sp068.bmp  2017-09-26 20:53:51
3  1493      black  2017-09-26 20:53:56
4  1494   H009.bmp  2017-09-26 20:53:58

In [5]:
timing['date']=timing['time'].str.partition(' ')[0]
timing['t']=timing['time'].str.partition(' ')[2]

timing.head()

     id       name                 time        date         t
0  1490   N065.bmp  2017-09-26 20:53:44  2017-09-26  20:53:44
1  1491      black  2017-09-26 20:53:49  2017-09-26  20:53:49
2  1492  Sp068.bmp  2017-09-26 20:53:51  2017-09-26  20:53:51
3  1493      black  2017-09-26 20:53:56  2017-09-26  20:53:56
4  1494   H009.bmp  2017-09-26 20:53:58  2017-09-26  20:53:58

In [6]:
data_A = pandas.read_csv('A.txt', sep="\t")
data_H = pandas.read_csv('H.txt', sep="\t")
data_N = pandas.read_csv('N.txt', sep="\t")
data_P = pandas.read_csv('P.txt', sep="\t")
data_Sn = pandas.read_csv('Sn.txt', sep="\t")
data_Sp = pandas.read_csv('Sp.txt', sep="\t")

data_A=data_A.rename(columns = {'Unnamed: 0':'name'})
data_H=data_H.rename(columns = {'Unnamed: 0':'name'})
data_N=data_N.rename(columns = {'Unnamed: 0':'name'})
data_P=data_P.rename(columns = {'Unnamed: 0':'name'})
data_Sn=data_Sn.rename(columns = {'Unnamed: 0':'name'})
data_Sp=data_Sp.rename(columns = {'Unnamed: 0':'name'})

data_A.head()

       name  Valence  Arousal  Internal norms  External norms
0  A001.jpg    2.553   74.995       12.289429       16.409175
1  A002.jpg   45.698   56.948       75.412445       78.690491
2  A004.jpg   36.197   55.567       40.215111       63.345528
3  A005.jpg   43.439   48.905       51.038688       40.093340
4  A006.jpg   27.544   67.897       22.594799       31.434631

In [44]:
pics = timing.name.unique().tolist()
datas = [data_A,data_H,data_N,data_P, data_Sn, data_Sp]
pic_inf = dict.fromkeys([pic for pic in pics])
def get_data(pic):
    print(type(pic))
    if pic[0]=='N':
        #data_inf = data_N[[data_N.loc[data_N.name == pic]]]
        data_inf = data_N[data_N['name']== pic]
        #print(data_inf)
        #([data_N.loc[data_N.name == pic]])
    elif pic[0]=='H':
        data_inf =data_H.loc[data_H.name == pic]
    elif pic[0]=='A':
        data_inf = data_N.loc[data_N.name == pic]
    elif pic[0]=='P':
        data_inf = data_P.loc[data_P.name == pic]
    elif pic[0]=='S'and pic[1]=='n':
        data_inf = data_Sn.loc[data_Sn.name == pic]
    elif pic[0]=='S'and pic[1]=='p':
        data_inf = data_Sp.loc[data_Sp.name == pic]
    else:
        data_inf = 'hui'
    #return(print(data_inf))
        
    
        
for pic in pics:
    get_data(pic)

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [8]:
for pic in pics:
    #print('pic', pic, type(pic))
    for data in datas:
        for pic_name in data.name:
            print(pic_name[0],pic[0], pic_name[0]==pic[0])
            if pic_name[0]==pic[0]:
                
                if pic_name[0]=='A'or 'S' or 'H':
                    category['Negative_data']=pic_name
                elif pic_name[0]=='N':
                    pic_name=category['Neutral_data']
                elif pic_name[0]=='P':
                    category['Positive_data']=category.update(pic_name)
print(category)

datas = [data_A,data_H,data_N,data_P, data_Sn, data_Sp]
#category = ({'Negative_data':'', 'Neutral_data':'', 'Positive_data':''})
def find_inf(pic, data):
    
    return data[pic]([data['Valence':]])

    
pics = timing.name.unique().tolist()



!!!pic_data= ({[pic for pic in pics[[inf for inf in find_inf(pic,data)]] for data in datas]})

A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
A N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
H N False
N N True

NameError: name 'category' is not defined

In [ ]:
tim = timing['t'].tolist()
tao = eeg['t'].tolist()
k=0
matr = np.array([])
for t_tim in tim:
    for t_tao in tao:
        t_tao=t_tao[:-7]
        if eeg['t'].str.find(t_tim) == t_tao:
            ind = eeg.loc[eeg['t'].find(t_tao)]
            k+=1
        get_raws = [k,[[eeg['AF3':'AF4'][ind-i] for i in range(k)]]] 
        k = 0
        get_raws=[]
    matr=matr.add(get_raws)

In [ ]:
#time_res = pandas.new_dataframe(timing(['t']))
for t in timing['t']:
    for tao in eeg['t']:

In [ ]:
#[str(x) for x in range(10)]
day1['time'] = pd.to_datetime(day1['time'], format='%H:%M').dt.time

In [ ]:
datas = [data_A,data_H,data_N,data_P, data_Sn, data_Sp]
category = ({'Negative_data':'', 'Neutral_data':'', 'Positive_data':''})


pics = timing.name.unique().tolist()


for pic in pics:
    #print('pic', pic, type(pic))
    for data in datas:
        for pic_name in data.name:
            print(pic_name[0],pic[0], pic_name[0]==pic[0])
            if pic_name[0]==pic[0]:
                
                if pic_name[0]=='A'or 'S' or 'H':
                    category['Negative_data']=pic_name
                elif pic_name[0]=='N':
                    pic_name=category['Neutral_data']
                elif pic_name[0]=='P':
                    category['Positive_data']=category.update(pic_name)
print(category)
#['Valence','Arousal']
                #print('hui')
#, data_Sp, data_H, data_A))

In [ ]:
time_series_matr = np.array([pic for pic in pics])